.container {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-weight: bold;
}

.image {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
}

.button {
  border: 1px solid black;
  border-radius: 0;
}

.input {
  display: block;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}
