.container {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  display: block;
  font-weight: bold;
}

.title--hidden {
  display: block;
  font-weight: bold;
  visibility: hidden;
}

.image {
  display: block;
  margin: 1rem auto;
  object-fit: contain;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.button {
  all: unset;
  padding: 0.5rem;
  background: white;
  color: black;
  border: 1px solid currentColor;
  border-radius: 0;
  cursor: pointer;

  &:hover,
  &:active {
    background: black;
    color: white;
    border: 1px solid black;
  }
}
