.container {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-weight: bold;
}

.image {
  display: block;
  margin: 1rem auto;
  object-fit: contain;
}

.buttonGroup {
  display: flex;
  margin: 0 -0.5rem;
  justify-content: space-evenly;
}

.button {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0;
}
