.container {
  display: grid;
  grid-template-rows:
    auto
    1fr
    auto
  ;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr auto;
  background: white;
  overflow: hidden;
  // scrollbar-gutter: stable both-edges;
}
