.container {
  position: fixed;
  inset: 0;
  bottom: auto;
  background: white;
}

.imageOverlayContainer {
  width: fit-content;
  margin: auto;
  background: white;
}

.image {
  display: block;
  position: relative;
  z-index: -1;
}
