.overlayNewContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  pointer-events: none;
  backdrop-filter: grayscale(100%);
}

.wrapper {
  margin: 100% auto 0 auto;
  text-align: center;
}

.dialog {
  display: block;
  margin: 0;
  padding: 1rem;
}
