.overlayNewContainer {
  position: absolute;
  inset: 1rem;
  display: grid;
  place-content: center;
  place-items: center;
  pointer-events: none;
}

.overlayNewContainerIsActive {
  pointer-events: all;
  backdrop-filter: grayscale(100%);
}

.overlayNew {
  display: block;
  margin: auto;
  padding: 1rem;
  aspect-ratio: 10/1;
  background: white;
  text-align: center;
}
