.overlayNewContainer {
  position: absolute;
  inset: 1rem;
  display: flex;
  // pointer-events: none;
  backdrop-filter: grayscale(100%);
}

.overlayNew {
  display: block;
  margin: auto;
  padding: 1rem;
  aspect-ratio: 10/1;
}
