.header {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  background: black;
  color: white;
}
  
.title {
  margin-top: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.details {
  flex-grow: 1;
}

.detail {
  display: flex;
  margin: 0;
  flex-wrap: wrap;

  & + .detail {
    margin-top: 0.5rem;
  }
}

.detailKey {
  margin-right: 0.5rem;
  flex-basis: auto;
}

.detailValue {
  margin: 0;
  font-weight: bold;
}

.resetButton {
  padding: 0.5rem;
  background: white;
  color: black;
}
