.header {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  background: black;
  color: white;
}

.title {
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.detail {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  gap: 0.5rem;

  & + .detail {
    margin-top: 0.5rem;
  }
}

.detailKey {
  flex-basis: auto;
}

.detailValue {
  margin: 0;
  font-weight: bold;
}

.resetButton {
  all: unset;
  margin-left: auto;
  padding: 0.5rem;
  background: white;
  color: black;
  border: 1px solid currentColor;
  border-radius: 0;
  cursor: pointer;

  &:hover,
  &:active {
    background: black;
    color: white;
    border: 1px solid currentColor;
  }
}
