.footer {
  display: flex;
  padding: 1rem;
  align-items: center;
  background: black;
  color: white;
}

.detail {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  flex-grow: 1;

  & + .detail {
    margin-top: 0.5rem;
  }
}

.detailKey {
  margin-right: 0.5rem;
  flex-basis: auto;
}

.detailValue {
  margin: 0;
  font-weight: bold;
}

.toggleButton {
  all: unset;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 0.5rem;
  background: white;
  color: black;
  border: 1px solid currentColor;
  border-radius: 0;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:active {
    border: 1px solid black;
  }

  &:active {
    border: 1px solid white;
  }

  > .hidden-text {
    overflow: hidden;
    height: 0;
  }
}